<!DOCTYPE html>
{% comment %} https://learn.microsoft.com/en-us/visualstudio/python/learn-django-in-visual-studio-step-03-serve-static-files-and-add-pages?view=vs-2022 {% endcomment %}
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    {% comment %} {% load static %} {% endcomment %}
    <link rel="stylesheet" type="text/css" href="./site.css" /> 
{% comment %} "{% static 'site.css' %}" {% endcomment %}
</head>

<body>
    <div class="navbar">
       <a href="/" class="navbar-brand">Hello Django</a>
       <a href="{% url 'home' %}" class="navbar-item">Home</a>
       <a href="{% url 'about' %}" class="navbar-item">About</a>
    </div>

    <div class="body-content">
{% block content %}{% endblock %}
        <hr/>
        <footer>
            <p>&copy; 2022</p>
        </footer>
    </div>
</body>
</html>